{% extends 'base.html.twig' %}

{% block body %}
    <h1>editer un lieu</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.audienceCapacity) }}
    {{ form_row(form.note) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
    </div>
    {{  form_end(form) }}
{% endblock %}