{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Add a venue{% endblock %}

{% block body %}
    <h2 class="text-info">Add a venue</h2>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.location) }}
    {{ form_row(form.audienceCapacity) }}
    {{ form_row(form.note) }}

    <div class="text-right">
        <button type="submit" class="btn btn-info">
            Add Venue
        </button>
    </div>
    {{  form_end(form) }}
{% endblock %}