{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - edit: event{% endblock %}

{% block body %}
    <h1>Edit date</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.tour) }}
    {{ form_row(form.venue) }}
    {{ form_row(form.beginAt) }}
    {{ form_row(form.endAt) }}
    {{ form_row(form.allowance) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            edit
        </button>
    </div>
    {{  form_end(form) }}
{% endblock %}