{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ event.title }}{% endblock %}

{% block body %}

    <h1 class="text-danger">{{ event.title }}</h1>
    <p class="text-gray">Venue :
        <a href="{{ path('venue_show', {"id": event.venue.id}) }}">
            {{ event.venue.name }}
        </a>
    </p>
    <p class="text-gray">Allowance : {{ event.allowance }} {{ event.currency }}</p>
    <p class="text-gray">Accommodation :
        {% if event.hasAccommodation == 1 %}
            <i class="material-icons text-danger">done</i>
        {% else %}
            <i class="material-icons text-danger">close</i>
        {% endif %}
    </p>
    <p class="text-gray">Public :
        {% if event.isPublic == 1 %}
            <i class="material-icons text-danger">done</i>
        {% else %}
            <i class="material-icons text-danger">close</i>
        {% endif %}
    </p>


        {% for user in event.users %}
            {% if user is same as(app.user) %}
                <a href="{{ path('event_edit', {'id': event.id}) }}"
                   class="btn btn-danger">
                    Edit
                </a>
                <a href="{{ path('event_delete', {'id': event.id}) }}"
                   class="btn btn-secondary">
                    Delete
                </a>
            {% endif %}
        {% endfor %}


{% endblock %}