{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.nickname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Register
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}
