{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ artist.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">{{ artist.name }}</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-success">Date</th>
                                <th class="text-success">Venue</th>
                                <th class="text-success">Allowance</th>
                                <th class="text-success">Accommodation</th>
                                <th class="text-success">Public</th>
                                <th class="text-success">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tour in artist.tours %}
                                {% for event in tour.events %}
                                    <tr>
                                        <td><a href="{{ path('event_show', {"id" : event.id}) }}">{{ event.title }}</a></td>
                                        <td><a href="{{ path('venue_show', {"id": event.venue.id}) }}">{{ event.venue.name }}<a/></td>
                                        <td>{{ event.allowance }} {{ event.currency }}</td>
                                        <td>
                                            {% if event.hasAccommodation == 1 %}
                                                <i class="material-icons text-success">done</i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if event.isPublic == 1 %}
                                                <i class="material-icons text-success">done</i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="btn btn-white btn-link btn-sm" href="{{ path('event_edit', {"id" : event.id}) }}">
                                                <i class="material-icons text-success">edit</i>
                                            </a>
                                            <a class="btn btn-white btn-link btn-sm" href="{{ path('event_delete', {"id" : event.id}) }}">
                                                <i class="material-icons text-success">close</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# TODO liste des dates à venir #}

    {# TODO liste des dates passées #}

    <a href="{{ path('artist_delete', {'id': artist.id}) }}"
       class="btn btn-secondary">
        Delete Artist
    </a>

{% endblock %}