{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - edit: {{ contact.name }} {% endblock %}

{% block body %}
    <h1>Edit {{ contact.name }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.website) }}
    {{ form_row(form.language) }}

    <h2>Contact's location</h2>
    {{ form_row(form.location) }}

    <h2>Add some notes</h2>
    {{ form_row(form.note) }}


    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            edit
        </button>
    </div>
    {{  form_end(form) }}
{% endblock %}