{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ contact.name }}{% endblock %}

{% block body %}

    <h1>{{ contact.name }}</h1>
    <p class="text-primary" >{{ contact.email }}</p>
    <p class="text-primary" >{{ contact.phone }}</p>
    <p class="text-primary" >{{ contact.website }}</p>
    <p class="text-primary" >{{ contact.language }}</p>
    <p class="text-primary" >{{ contact.location.city }}</p>
    <p class="text-primary" >{{ contact.location.country }}</p>
    <p class="text-primary" >{{ contact.note }}</p>

    <a href="{{ path('contact_edit', {'id': contact.id}) }}"
       class="btn btn-primary">
        Edit Contact
    </a>
    <a href="{{ path('contact_delete', {'id': contact.id}) }}"
       class="btn btn-secondary">
        Delete Contact
    </a>

    {#TODO Contact event#}

{% endblock %}