{% extends 'base.html.twig' %}

{% block body %}
    <h1>edit a tour</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.artist) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            edit
        </button>
    </div>
    {{  form_end(form) }}
{% endblock %}