{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ tour.name }}{% endblock %}

{% block body %}
    <h2 class="text-warning">Edit {{ tour.name }}</h2>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.artist) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}

    <div class="text-right">
        <button type="submit" class="btn btn-warning">
            Edit Tour
        </button>
    </div>
    {{  form_end(form) }}
{% endblock %}