{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Your tours{% endblock %}

{% block body %}
<div class="row">
    <a href="{{ path('tour_new') }}"
       class="btn btn-warning">
        New Tour
    </a>

    <a href="{{ path('permission_new') }}"
       class="btn btn-secondary">
        New Contributor
    </a>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title ">Your tours</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-warning">Tour's name</th>
                                <th class="text-warning">Artist</th>
                                <th class="text-warning">Start Date</th>
                                <th class="text-warning">End Date</th>
                                <th class="text-warning">Options </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for t in tours %}
                            <tr>
                                <td><a href="{{ path('tour_show', {"id" : t.id}) }}">{{ t.tour.name }}</a></td>
                                <td><a href="{{ path('artist_show', {"id" : t.tour.artist.id}) }}">{{ t.tour.artist.name }}</a></td>
                                <td>{{ t.tour.startDate | date('Y-m-d')}}</td>
                                <td>{{ t.tour.endDate | date('Y-m-d') }}</td>
                                {% if t.permission == "Administrator" %}
                                <td>
                                    <a class="btn btn-white btn-link btn-sm" href="{{ path('tour_edit', {"id" : t.id}) }}">
                                        <i class="material-icons text-warning">edit</i>
                                    </a>
                                    <a class="btn btn-white btn-link btn-sm" href="{{ path('tour_delete', {"id" : t.id}) }}">
                                        <i class="material-icons text-warning">close</i>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
