{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ tour.name }} {% endblock %}

{% block body %}

    <h2 class="text-warning">{{ tour.name }}</h2>
    <h3>{{ tour.artist.name }}</h3>
    <p>{{ tour.startDate | date('d-m-Y') }} to {{ tour.endDate | date('d-m-Y') }}</p>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Tour's Events</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-danger">Title</th>
                                <th class="text-danger">Venue</th>
                                <th class="text-danger">Allowance</th>
                                <th class="text-danger">Accommodation</th>
                                <th class="text-danger">Public</th>
                                <th class="text-danger">Options </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in tour.events %}
                                <tr>
                                    <td><a href="{{ path('event_show', {"id" : event.id}) }}">{{ event.title }}</a></td>
                                    <td><a href="{{ path('venue_show', {"id": event.venue.id}) }}">{{ event.venue.name }}<a/></td>
                                    <td>{{ event.allowance }} {{ event.currency }}</td>
                                    <td>
                                        {% if event.hasAccommodation == 1 %}
                                            <i class="material-icons text-danger">done</i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if event.isPublic == 1 %}
                                            <i class="material-icons text-danger">done</i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-white btn-link btn-sm" href="{{ path('event_edit', {"id" : event.id}) }}">
                                            <i class="material-icons text-danger">edit</i>
                                        </a>
                                        <a class="btn btn-white btn-link btn-sm" href="{{ path('event_delete', {"id" : event.id}) }}">
                                            <i class="material-icons text-danger">close</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#TODO this tour in form#}
    <a href="{{ path('event_new') }}"
       class="btn btn-danger">
        Add an event
    </a>


{% endblock %}