{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block body %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <a href="{{ path('tour_index') }}">
                                <i class="material-icons">map</i>
                            </a>
                        </div>
                        {#<p>
                            <a href="{{ path('tour_index') }}">
                                <i class="material-icons text-warning">more_vert</i>
                            </a>
                        </p>#}
                        <h3 class="card-title">
                            TOURS
                        </h3>
                        <a href="{{ path('tour_new') }}" class="btn btn-warning btn-sm">New Tour</a>
                    </div>
                    <div class="card-footer">
                        <table class="table">
                            <tbody>
                            {% for t in tours %}
                                <tr>
                                    <td><a href="{{ path('tour_show', {"id" : t.id}) }}">{{ t.tour.name }}</a></td>
                                    <td><a href="{{ path('artist_show', {"id" : t.tour.artist.id}) }}">{{ t.tour.artist.name }}</a></td>
                                    <td>{{ t.tour.startDate | date('Y-m-d') }}</td>
                                    <td>{{ t.tour.endDate | date('Y-m-d')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <a href="{{ path('artist_index') }}">
                                <i class="material-icons">people</i>
                            </a>
                        </div>
                        <h3 class="card-title">ARTISTS</h3>
                        <a href="{{ path('artist_new') }}" class="btn btn-success btn-sm">New Artist</a>
                    </div>
                    <div class="card-footer">
                        <table class="table">
                            <tbody>
                            {% for artist in artists %}
                                <tr>
                                    <td><a href="{{ path('artist_show', {"id" : artist.id}) }}">{{ artist.name }}</a></td>
                                    <td>
                                        <a class="btn btn-white btn-link btn-sm" href="{{ path('artist_edit', {"id" : artist.id}) }}">
                                            <i class="material-icons text-success">edit</i>
                                        </a>
                                        <a class="btn btn-white btn-link btn-sm" href="{{ path('artist_delete', {"id" : artist.id}) }}">
                                            <i class="material-icons text-success">close</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <a href="{{ path('event_index') }}">
                                <i class="material-icons">event</i>
                            </a>
                        </div>
                        <h3 class="card-title">EVENTS</h3>
                        <a href="{{ path('event_new') }}" class="btn btn-danger btn-sm">New Event</a>
                    </div>
                    <div class="card-footer">
                        <table class="table">
                            <tbody>
                            {% for event in events %}
                                <tr>
                                    <td><a href="{{ path('event_show', {"id" : event.id}) }}">{{ event.title }}</a></td>
                                    <td><a href="{{ path('venue_show', {"id": event.venue.id}) }}">{{ event.venue.name }}<a/></td>
                                    <td>{{ event.allowance }} {{ event.currency }}</td>
                                    <td>
                                        <a class="btn btn-white btn-link btn-sm" href="{{ path('event_edit', {"id" : event.id}) }}">
                                            <i class="material-icons text-danger">edit</i>
                                        </a>
                                        <a class="btn btn-white btn-link btn-sm" href="{{ path('event_delete', {"id" : event.id}) }}">
                                            <i class="material-icons text-danger">close</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <a href="{{ path('venue_index') }}">
                                <i class="material-icons">location_on</i>
                            </a>
                        </div>
                        <h3 class="card-title">VENUES</h3>
                        <a href="{{ path('venue_new') }}" class="btn btn-info btn-sm">New Venue</a>
                    </div>
                    <div class="card-footer">
                        <table class="table">
                            <tbody>
                            {% for venue in venues %}
                                <tr>
                                    <td><a href="{{ path('venue_show', {"id" : venue.id}) }}">{{ venue.name }}</a></td>
                                    <td>{{ venue.location.streetNumber }}, {{ venue.location.streetName }}
                                        - {{ venue.location.City }}
                                        - {{ venue.location.country }}
                                    </td>
                                    <td>{{ venue.audienceCapacity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
